.container {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    max-width: 800px;
}
.elemName {
    padding: 10px 15px;
    border: 1px solid lightgray;
    width: 200px;
    margin: 5px;
    border-radius: 10px;
    transition: all .4s;
}
.elemName[disabled="disabled"] {
    background-color: grey;
}

.elemName:hover {
    background-color: rgba(255, 0, 0, 0.589);
    cursor: pointer;
}

.secondElem {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}

.allContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

.pasport {
    border: 1px solid rgb(58, 58, 58);
    margin: 50px;
    min-width: 200px;
    transition: all .4s;
    border-radius: 7px;
}
.pasport:hover {
    box-shadow: 5px 5px 10px rgb(51, 51, 51);
}

.pasport div,
.pasport button{
    margin: 10px;
}

.gray {
    background-color: grey;
}
